<div>
    <h2>Photos, all the photos !!</h2>
</div>

<%= form_with url: "/photos", method: :get do |form| %>
    <%= form.label :user_id, "User ID: " %>
    <%= form.text_field :user_id %>

    <%= form.submit "[Show]" %>
<% end %> <br>

<%# Odd... I worked but not sure why %>
<% @photos.each do |photo| %>
    <img src= <%= photo %> alt="photo"> <br>
<% end %>

<%# Couldnt take it out of the view without this hack %>
<% if @photos_json.size == 0 %>
    <% flash.each do |type, msg| %>
        <div>
            <strong><%= msg %></strong>
        </div>
    <% end %>
<% end %>
